# rust2rpm.toml should be the single source of truth, and so new builds
# should always start with this file, instead of editing the generated
# rpm spec file
*.spec

# ignore rpm related files
*.rpm
*.src.rpm

# ignore vendor bundles and crates
atuin-*/
*.crate
*.tar.gz
*.tar.xz
